body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
display: flex;
flex-direction: column;
justify-content: space-around;
height: 100vh;

}
.weather-container {

  /* flex: 0 0 70%; */
  margin-left:auto;
  /* width: 20%;
  height: 40%; */
  background: #080705;
  border-bottom-left-radius:border-radius;
  display:flex;
  align-items: center;
  color:white;
  }

  .icon {
    flex: 0 0 40%;
      width: 100%;
      font-size: 65px;
      display: flex;
      justify-content: space-around;
  }
.data-description 
  {
    flex: 0 60%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;

  }
  .temp{
    flex: 0 0 40%;
    width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: space-around;
  }
  .description {
    text-transform: uppercase;
    font-size: 15px;
  }
  


  
  #goal-text-component {
    border: 1px solid blue;
    border-radius:16px;
    background: transparent;
    width: 98%;
    margin-top: 20px;


  }

  #goal-text {

    text-align: center;

    width: 100%;
    padding: 9px 25px 9px 40px;
  
   font-size: large;
   font-weight: bold;
    background-color: #ffffff;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;

  }

  #goal-text-container{
    
    /* margin-top: 30px; */
      /* position: relative; */
      /* border-radius: 10px; */
      border: none;
     

      padding: 33px 36px 0px 36px;
      position: relative; 
  }

  #text-clear-button {
    position: absolute;
    right: 42px;
    top: 36px;
    bottom: 3px;
    border: 0;
    background: none;
    color: #141c3a;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .goal-text-header {
    
    width: 100%;
    font-size: 65px;
  }
  .goals-container {
    border: 1px solid blue;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content: center;
    gap:10px 20px;
    width: 98%;
    border-radius:16px;
    background: transparent;
    height: 200px;
    overflow-y: auto


  }
    
  




.goal-element {
  position: relative;
    border: 2px solid purple;
    border-radius: 10px;
    margin: 10px;
   
  }

.goal-element-text  {
text-align: center;
margin: 10px;
color: white;
font-weight: lighter;

}



.button-group  {
  position: absolute;
  top: -10px;
right: 0;
 
}


.goal-element-button {
  margin-left : 5pt;

}
.done-button {
  color:white;
  background-color: red;
 border-radius: 5px;
}
.remove-button {
  color:white;
  background-color: blue;
 border-radius: 5px;
}
.completed-goal {
  background-color: grey;
}

#quate-container {
text-align:center;
/* position: fixed;
bottom: 0px; */
font-size: 20px;
font-weight: bold;
width: 100%;

}




.central-element-container {
  display: flex; 
  align-items: stretch;
  align-content: center;
  border-radius: 10px;
  border: 1px solid purple;
}

.central-element-item {
  display: flex;
  flex-direction: column;
  justify-content:center;

}

.search-and-goals-container {
  flex-grow: 4;
  border-radius: 10px;
  border: 1px solid purple;
}